{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.src_type.label(class="form-control-label") }}
                    {{ form.src_type(class="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.dst_type.label(class="form-control-label") }}
                    {{ form.dst_type(class="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.node_str.label(class="form-control-label") }}
                    {{ form.node_str(class="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.zefix_uid.label(class="form-control-label") }}
                    {{ form.zefix_uid(class="form-control")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

            <div>
                <table class="table">
                    <tr>
                        <th scope="col">Precision</th>
                        <th scope="col">Recall</th>
                        <th scope="col">10 Nearest Neighbors</th>
                        <th scope="col">Top-10 Ground Truth</th>
                    </tr>
                    <tr>
                        <td>{{data['precision']}}</td>
                        <td>{{data['recall']}}</td>
                        <td>
                            <ol>
                                {% for neighbor in data['neighbors'] %}
                                <li>{{neighbor}}</li>
                                {% endfor %}
                            </ol>
                        </td>
                        <td>
                            <ol>
                                {% for neighbor in data['ground truth'] %}
                                <li>{{neighbor}}</li>
                                {% endfor %}
                            </ol>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

{% endblock content %}